<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xenosoft.imldintelligence.module.audit.internal.repository.mybatis.AuditLogMapper">

    <sql id="BaseColumns">
        id,
        tenant_id,
        user_id,
        user_role,
        action,
        resource_type,
        resource_id,
        before_data,
        after_data,
        ip_address,
        device_info,
        app_version,
        trace_id,
        created_at
    </sql>

    <resultMap id="AuditLogResultMap" type="xenosoft.imldintelligence.common.model.AuditLog">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="userId" column="user_id"/>
        <result property="userRole" column="user_role"/>
        <result property="action" column="action"/>
        <result property="resourceType" column="resource_type"/>
        <result property="resourceId" column="resource_id"/>
        <result property="beforeData" column="before_data" jdbcType="OTHER" typeHandler="xenosoft.imldintelligence.common.mybatis.JsonNodeTypeHandler"/>
        <result property="afterData" column="after_data" jdbcType="OTHER" typeHandler="xenosoft.imldintelligence.common.mybatis.JsonNodeTypeHandler"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="deviceInfo" column="device_info"/>
        <result property="appVersion" column="app_version"/>
        <result property="traceId" column="trace_id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO audit_log (
            tenant_id,
            user_id,
            user_role,
            action,
            resource_type,
            resource_id,
            before_data,
            after_data,
            ip_address,
            device_info,
            app_version,
            trace_id
        ) VALUES (
            #{tenantId},
            #{userId},
            #{userRole},
            #{action},
            #{resourceType},
            #{resourceId},
            #{beforeData, jdbcType=OTHER, typeHandler=xenosoft.imldintelligence.common.mybatis.JsonNodeTypeHandler},
            #{afterData, jdbcType=OTHER, typeHandler=xenosoft.imldintelligence.common.mybatis.JsonNodeTypeHandler},
            #{ipAddress},
            #{deviceInfo},
            #{appVersion},
            #{traceId}
        )
    </insert>

    <select id="query" resultMap="AuditLogResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM audit_log
        <where>
            tenant_id = #{query.tenantId}
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.action != null and query.action != ''">
                AND action = #{query.action}
            </if>
            <if test="query.resourceType != null and query.resourceType != ''">
                AND resource_type = #{query.resourceType}
            </if>
            <if test="query.resourceId != null and query.resourceId != ''">
                AND resource_id = #{query.resourceId}
            </if>
            <if test="query.traceId != null and query.traceId != ''">
                AND trace_id = #{query.traceId}
            </if>
            <if test="query.from != null">
                AND created_at <![CDATA[>=]]> #{query.from}
            </if>
            <if test="query.to != null">
                AND created_at <![CDATA[<=]]> #{query.to}
            </if>
        </where>
        ORDER BY created_at DESC, id DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1)
        FROM audit_log
        <where>
            tenant_id = #{query.tenantId}
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.action != null and query.action != ''">
                AND action = #{query.action}
            </if>
            <if test="query.resourceType != null and query.resourceType != ''">
                AND resource_type = #{query.resourceType}
            </if>
            <if test="query.resourceId != null and query.resourceId != ''">
                AND resource_id = #{query.resourceId}
            </if>
            <if test="query.traceId != null and query.traceId != ''">
                AND trace_id = #{query.traceId}
            </if>
            <if test="query.from != null">
                AND created_at <![CDATA[>=]]> #{query.from}
            </if>
            <if test="query.to != null">
                AND created_at <![CDATA[<=]]> #{query.to}
            </if>
        </where>
    </select>

</mapper>
