<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xenosoft.imldintelligence.module.audit.internal.repository.mybatis.SensitiveDataAccessLogMapper">

    <sql id="BaseColumns">
        id,
        tenant_id,
        user_id,
        sensitive_type,
        resource_type,
        resource_id,
        access_reason,
        access_result,
        ip_address,
        created_at
    </sql>

    <resultMap id="SensitiveDataAccessLogResultMap" type="xenosoft.imldintelligence.common.model.SensitiveDataAccessLog">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="userId" column="user_id"/>
        <result property="sensitiveType" column="sensitive_type"/>
        <result property="resourceType" column="resource_type"/>
        <result property="resourceId" column="resource_id"/>
        <result property="accessReason" column="access_reason"/>
        <result property="accessResult" column="access_result"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sensitive_data_access_log (
            tenant_id,
            user_id,
            sensitive_type,
            resource_type,
            resource_id,
            access_reason,
            access_result,
            ip_address
        ) VALUES (
            #{tenantId},
            #{userId},
            #{sensitiveType},
            #{resourceType},
            #{resourceId},
            #{accessReason},
            #{accessResult},
            #{ipAddress}
        )
    </insert>

    <select id="query" resultMap="SensitiveDataAccessLogResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM sensitive_data_access_log
        <where>
            tenant_id = #{query.tenantId}
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.sensitiveType != null and query.sensitiveType != ''">
                AND sensitive_type = #{query.sensitiveType}
            </if>
            <if test="query.resourceType != null and query.resourceType != ''">
                AND resource_type = #{query.resourceType}
            </if>
            <if test="query.resourceId != null and query.resourceId != ''">
                AND resource_id = #{query.resourceId}
            </if>
            <if test="query.accessResult != null and query.accessResult != ''">
                AND access_result = #{query.accessResult}
            </if>
            <if test="query.from != null">
                AND created_at <![CDATA[>=]]> #{query.from}
            </if>
            <if test="query.to != null">
                AND created_at <![CDATA[<=]]> #{query.to}
            </if>
        </where>
        ORDER BY created_at DESC, id DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(1)
        FROM sensitive_data_access_log
        <where>
            tenant_id = #{query.tenantId}
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.sensitiveType != null and query.sensitiveType != ''">
                AND sensitive_type = #{query.sensitiveType}
            </if>
            <if test="query.resourceType != null and query.resourceType != ''">
                AND resource_type = #{query.resourceType}
            </if>
            <if test="query.resourceId != null and query.resourceId != ''">
                AND resource_id = #{query.resourceId}
            </if>
            <if test="query.accessResult != null and query.accessResult != ''">
                AND access_result = #{query.accessResult}
            </if>
            <if test="query.from != null">
                AND created_at <![CDATA[>=]]> #{query.from}
            </if>
            <if test="query.to != null">
                AND created_at <![CDATA[<=]]> #{query.to}
            </if>
        </where>
    </select>

</mapper>
